<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  
  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      
          <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<title></title>
</head>
<body>
<nav>
      <div class="container-fluid">
        <div class="row">

        <div class="col-md-3" style="">

            <h><a href="/"><i class="fa fa-home" aria-hidden="true" style="margin-right: 5px;"></i>Home</a></h>
        <h><i class="fa fa-bell" aria-hidden="true" style="margin-right: 5px; margin-left: 10px;"></i>Notifications</h>
        <h><i class="fa fa-comments" aria-hidden="true" style="margin-right: 5px; margin-left: 10px;"></i>
        Messages</h>

        </div>

      <div class="col-md-6">
        <img src="993ed8f1-dfaa-4b44-b8fa-01c49c390635.png" style="height: 25px; margin-left: 250px;">
      </div>

      <div class="col-md-3">
        <a onenterkey="returnFunc()"><input type="text"  onenterkey="returnFunc()" placeholder="Search ..." name="friends_search" id="friends_search"></a>
        <button style="" id="search">Search</button>
      </div>

     </div>
     </div>
    </nav>

<div ckass=""></div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6" style="text-align: center;"><h1>
		First and last name: 
		{{context.friend[1]}} {{context.friend[2]}}<p>
		Nickname: {{context.friend[8]}}<p>
		Email: {{context.friend[7]}}<p>
		</h1>
	</div>
        <div class="col-md-3">
        	<form method="POST" action="/add_friend">

                    <input type="hidden" class="form-control" id="id" value="{{context.friend[0]}}"><p>
                    	 {% if context.friends == True %}
                <button type="submit">Remove friends!</button><br>
            {% else %}
                <h1><button id="add_friend" type="submit">Be friends!</button>
            {% endif %}
            </form>
        </div>
	</div>
</div>






 <script>
$('#search').click(function(){
    console.log("abc")
    var first_name = document.getElementsByName("friends_search")[0].value;
    window.location.href = '/user/' + first_name;
})
  


$(document).on('click', '#add_friend', function(e) {
    e.preventDefault()
    var id = $("#id").val();
    var action =  $(this).attr('id')
    $.ajax({
        url: '/add_friend',
        data: JSON.stringify({'id':id, 'action': action}, null, '\t'),
        type: 'POST',
        contentType: 'application/json;charset=UTF-8',
        success: function(response) {
            console.log(response.status);
        },
        error: function(error) {
            console.log(error);
        }
    });
});

</script> 
</body>
</html>
