<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  
  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="style1.css">
          <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


      
  
</head>
<body>
    <nav>
      <div class="container-fluid">
        <div class="row">

        <div class="col-md-3" style="">

        <h><i class="fa fa-home" aria-hidden="true" style="margin-right: 5px;"></i>Home</h>
        <h><i class="fa fa-bell" aria-hidden="true" style="margin-right: 5px; margin-left: 10px;"></i>Notifications</h>
        <h><i class="fa fa-comments" aria-hidden="true" style="margin-right: 5px; margin-left: 10px;"></i>
        Messages</h>

        </div>

      <div class="col-md-6">
        <img src="993ed8f1-dfaa-4b44-b8fa-01c49c390635.png" style="height: 25px; margin-left: 250px;">
      </div>

      <div class="col-md-3">
        <a onenterkey="returnFunc()"><input type="text"  onenterkey="returnFunc()" placeholder="Search something..." name="friends_search" id="friends_search"></a>
        <button style="" id="search">Search</button>
        <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
      </div>

     </div>
     </div>
    </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-md-push-3">
      
    </div>

    <div class="col-md-3 col-md-pull-9">

      <div class="profile" style="background-color: white; margin-top: 20px; margin-left: 20px;">
      <img src="stressed_business_man.jpg" style="height: 100px; width: 100px; border-radius: 50%;">
        <p>
        <a href="/edit"><button style="color: black">Edit</button></a>
      </div>
    </div>
  </div>
</div>

  
 <script>
$('#search').click(function(){
    console.log("abc")
    var firstName = document.getElementsByName("friends_search")[0].value;
    window.location.href= firstName;
})
  

</script> 

</body>
</html>
